*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
html,body{
	height: 100%;
	background: rgba(0,0,0,0.4);
}
main{
	width: 350px;
	height: 180px;
	background: #fff;
	padding: 15px 50px;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
h3{
	text-align: center;
	font-size: 20px;
	line-height: 50px;
}
h4{
	text-align: center;
	font-size: 14px;
}
span{
	font-size: 20px;
	color: lightskyblue;
}