@import "base.css";
body,html{
    width:100%;
    height:100%;
    padding:0 0.24rem;
}
body{
    background: url('../img/gbj.png') no-repeat center/cover;
}
header{
    width:100%;
    height:0.88rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header>a:first-of-type{
    display: block;
    width: 0.4rem;
    height:0.4rem;
    background: url("../img/at_04.png") no-repeat center/cover;
}
header>a:last-of-type{
    display: block;
    width: 1rem;
    font-size: 0.3rem;
    color: #ccc;
}
header>a:last-of-type.active{
    color: #fff;
}
header>p{
    font-size: 0.36rem;
    color: #fff;
}
/*内容开始*/
.main{
    width:100%;
    height:7.82rem;
    padding:0.4rem 0;
    background: #fff;
    margin-top: 0.17rem;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0 0.28rem 0.2rem 0.11rem rgba(230,228,239,0.7);
}
.main>li{
    width:2.08rem;
    height:2.08rem;
    background: url("../img/at_03.png") no-repeat center/cover;
    font-size: 0;
    transition: all 0.5s;
}
.main>li.active{
    background:none;
    box-shadow: 0 0.09rem 0.07rem 0.07rem rgba(248,49,158,0.09);
    text-align: center;
    line-height: 2.08rem;
    font-size: 0.24rem;
}
/*内容结束*/
/*规则开始*/
.rule{
    width:100%;
    height:auto;
    margin-top: 0.4rem;
}
.rule>img{
    width: 100%;
    height: auto;
}
/*规则结束*/
/*按钮开始*/
.btn{
    width:100%;
    height:0.88rem;
    display: flex;
    justify-content: space-around;
    position: relative;
}
.btn>button{
    width:3.4rem;
    height:100%;
    border-radius: 0.44rem;
    border: none;
    outline: none;
    color: #fff;
    position: relative;
    z-index: 12;
    background: none;
}
/*.btn>button.active{
    background: url("../img/button01.png") no-repeat center/cover;
}*/
.grap{
    width:3.4rem;
    height:0.88rem;
    border-radius: 0.44rem;
    border: none;
    outline: none;
    color: #fff;
    background: url("../img/button01.png") no-repeat center/cover;
    position: absolute;
    top:0;
    left:0;
    z-index: 10;
    transition: 0.5s;
}
.btn>button:nth-of-type(1).active ~ .grap{
    transform: translate3d(0,0,0);
}
.btn>button:nth-of-type(2).active ~ .grap{
    transform: translate3d(100%,0,0);
}
/*按钮结束*/