<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/ktv/Public/css/bootstrap.css">
    <script src="/ktv/Public/js/jquery-3.2.1.js"></script>
</head>
<body>
<style>
    .tips{
        width:0;
        height:1px;
        background: #ffffff;
        position: fixed;
        top:50px;
        left:0;
    }
    input{
        width:100px;
        border: none;
        outline: none;
        background: none;
    }
</style>
<script>
    $(function () {
        $('.dropdown').on('click',function () {
            $('.dropdown-menu',this).slideToggle();
        })
        let tips = $('.tips');
        $(window).ajaxStart(function () {
            tips.animate({width:'80%'})
        })
        $(window).ajaxComplete(function () {
            tips.stop().animate({width:'100%'})
                .queue(function () {
                    $(this).css({width:0})
                })
        })
    })
</script>
<nav class="navbar navbar-inverse">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">KTV</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="<?php echo $title=='游戏管理'? 'active':''; ?>"><a href="/ktv/index.php/gamemanage">游戏管理<span class="sr-only">(current)</span></a></li>
                <li class= "<?php echo $title=='商品管理'? 'active':''; ?>"><a href="/ktv/index.php/shopmanage">商店管理</a></li>
                <li class="dropdown <?php echo $title=='歌曲管理'? 'active':''; ?>">
                    <a  class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">歌曲管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/ktv/index.php/classifymanage">分类管理</a></li>
                        <li><a href="/ktv/index.php/singermanage">歌手管理</a></li>
                        <li><a href="/ktv/index.php/songmanage">歌曲管理</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="tips"></div>
</body>
</html>