<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,
           minimum-scale=1.0">
    <title>shop</title>
    <link rel="stylesheet" href="/ktv/Public/css/collect.css">
    <script src="/ktv/Public/js/rem.js"></script>
    <script src="/ktv/Public/js/jquery-3.2.1.js"></script>
    <script src="/ktv/Public/js/iscroll.js"></script>
    <script src="/ktv/Public/js/collect.js"></script>
</head>
<body>
<!--导航开始-->
<header>
    <a href="javascript:history.back()"></a>
    <p>收藏列表</p>
    <a>共 <span class="count"></span>首</a>
</header>
<!--导航结束-->
<!--内容开始-->
<ul class="content">
    <li>
        <a>
            <div class="num"><img src="/ktv/Public/img/singer-03.png" alt=""></div>
            <div class="title">sd<div class="time">sd</div></div>
        </a>
        <div class="right">
            <div class="flag"></div>
            <div class="flag1"></div>
        </div>

    </li>
</ul>
<!--内容结束-->
</body>
</html>