<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,
           minimum-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="/ktv/Public/css/gamelist.css">
    <script src="/ktv/Public/js/rem.js"></script>
    <script src="/ktv/Public/js/jquery-3.2.1.js"></script>
    <script src="/ktv/Public/js/gamelist.js"></script>
</head>
<body>
<!--导航开始-->
<header>
    <a href="javascript:history.back()"></a>
    <p>游戏列表</p>
    <a class="change" >换一批</a>
</header>
<!--导航结束-->
<!--内容开始-->
<ul class="main">
</ul>
<!--内容结束-->
<!--规则开始-->
<div class="rule">
    <img src="/ktv/Public/img/at_02.png" alt="">
</div>
<!--规则结束-->
<!--按钮开始-->
<div class="btn">
    <button class="active" id="1">真心话</button>
    <button id="2">大冒险</button>
    <div class="grap"></div>
</div>
<!--按钮结束-->
</body>
</html>