<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,
           minimum-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="/ktv/Public/css/index.css">
    <script src="/ktv/Public/js/rem.js"></script>
</head>
<body>
    <main>
        <!--<div class="map"></div>-->
        <ul class="content">
            <li><a href="/ktv/index.php/singer/index"></a></li>
            <li><a href="/ktv/index.php/game/index"></a></li>
            <li><a href="/ktv/index.php/shop/index"></a></li>
            <li><a href=""></a></li>
        </ul>
    </main>
</body>
</html>