<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,
           minimum-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="/ktv/Public/css/order.css">
    <script src="/ktv/Public/js/rem.js"></script>
</head>
<body>
<!--导航开始-->
<header>
    <a href="javascript:history.back()"></a>
    <p>提交成功</p>
    <a></a>
</header>
<!--导航结束-->
<div class="main">
    <img src="/ktv/Public/img/success.png" alt="">
    <div class="bottom">
        恭喜 您已提交成功
    </div>
</div>
<a href="/ktv/index.php/home" class="back">
    返回首页
</a>
</body>
</html>