<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,
           minimum-scale=1.0">
    <title>shop</title>
    <link rel="stylesheet" href="/ktv/Public/css/play.css">
    <script src="/ktv/Public/js/rem.js"></script>
    <script src="/ktv/Public/js/jquery-3.2.1.js"></script>
    <script src="/ktv/Public/js/play.js"></script>
</head>
<body>
<!--导航开始-->
<header>
    <a href="javascript:history.back()"></a>
    <p>你就不要想起我</p>
    <a class="wu"></a>
</header>
<!--导航结束-->
<!--内容开始-->
<section class="content">
    <ul class="top">
        <li>dgfdg</li>
    </ul>
    <div class="bottom">
        <ul class="menu">
            <li class="vol">
                <img src="/ktv/Public/img/gc3.png" alt="">
                <span>取消静音</span>
            </li>
            <li class="prev">
                <img src="/ktv/Public/img/prev.png" alt="">
                <span>上一首</span>
            </li>
            <li class="play">
                <img src="/ktv/Public/img/gc5.png" alt="">
            </li>
            <li class="next">
                <img src="/ktv/Public/img/gc4.png" alt="">
                <span>下一首</span>
            </li>
            <li class="order">
                <img src="/ktv/Public/img/shunxu.png" alt="">
                <span>顺序播放</span>
            </li>
        </ul>
        <audio src="" id = "audio">
        </audio>
        <div class="mkf">
            <div class="img">
            <img src="/ktv/Public/img/ly_06.png" alt="">
            </div>
            <div class="heng">
                <div class="select">
                    <div class="btn"></div>
                </div>
            </div>
            <span class="current">53</span>/
            <span class="duration">53</span>
        </div>
        <div class="voice">
            <div class="img">
                <img src="/ktv/Public/img/ly_07.png" alt="">
            </div>
            <div class="heng1">
                <div class="select1">
                    <div class="btn1"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--内容结束-->
</body>
</html>