<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,
           minimum-scale=1.0">
    <title>shop</title>
    <link rel="stylesheet" href="/ktv/Public/css/shop.css">
    <script src="/ktv/Public/js/rem.js"></script>
    <script src="/ktv/Public/js/jquery-3.2.1.js"></script>
    <script src="/ktv/Public/js/iscroll.js"></script>
    <script src="/ktv/Public/js/shop.js"></script>
</head>
<body>
<main>
    <!--导航开始-->
    <header>
        <a href="javascript:history.back()"></a>
        <div class="head">
            <div class="menu active"><span>酒水</span><span class="wineNum">0</span></div>
            <div class="menu"><span>零食</span><span class="snackNum">0</span></div>
            <div class="bg"></div>
        </div>
        <a></a>
    </header>
    <!--导航结束-->
    <div class="wrapper winelist active">
    <ul class="scroll">

    </ul>
    </div>
    <div class="wrapper snacklist">
        <ul class="scroll">

        </ul>
    </div>
    <footer>
        <div class="content">
            <li>已选</li>

            <div class="select"></div>

            <ul class="circle">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="bottom">
            <div class="left">
                <span>合计：</span>
                <span class="totalNum">0</span>
                <span>RMB</span>
            </div>
            <a class="right">选好了</a>
        </div>
    </footer>
</main>
</body>

</html>