<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,
           minimum-scale=1.0">
    <title>shop</title>
    <link rel="stylesheet" href="/ktv/Public/css/shoplist.css">
    <script src="/ktv/Public/js/rem.js"></script>
    <script src="/ktv/Public/js/jquery-3.2.1.js"></script>
    <script src="/ktv/Public/js/iscroll.js"></script>
    <script src="/ktv/Public/js/shoplist.js"></script>
</head>
<body>
<!--导航开始-->
<header>
    <a href="javascript:history.back()"></a>
    <div class="center">
        <div class="top">
            <div class="circle"></div>
            <b>0806</b>房间已选商品
            <div class="circle"></div>
        </div>
        <div class="bottom">
            共<span class="total">0</span>件
        </div>
    </div>
    <a></a>
</header>
<!--导航结束-->
<!--内容开始-->
<div class="wrapper">
    <ul class="main" >
    </ul>
</div>
<!--内容结束-->
<footer>
<!--共计开始-->
<div class="totle">
    <div class="totle-box">
        <img src="/ktv/Public/img/totle.png" alt="">
        <div class="totalNum"></div>
    </div>
</div>
<!--共计结束-->
<a class="btn">确认提交</a>
</footer>
</body>
</html>