<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,
           minimum-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="/ktv/Public/css/singerlist.css">
    <script src="/ktv/Public/js/rem.js"></script>
    <script src="/ktv/Public/js/jquery-3.2.1.js"></script>
    <script src="/ktv/Public/js/iscroll.js"></script>
    <script src="/ktv/Public/js/singerlist.js"></script>
</head>
<body>
<!--导航开始-->
<header>
    <a href="javascript:history.back()"></a>
    <p></p>
    <a></a>
</header>
<!--导航结束-->
<!--tab栏开始-->
<section class="tab">
    <ul class="tab-top">
        <li>
            <a href="/ktv/index.php/singer/index">
                <img src="/ktv/Public/img/music.png" alt="">
                歌手
            </a>
        </li>
        <li><a href="/ktv/index.php/rank/index">排行</a></li>
        <li><a href="">常唱</a></li>
        <li><a href="">推荐歌单</a></li>
    </ul>
    <input type="text" placeholder="&nbsp;&nbsp;&nbsp;请输入您要搜索的歌手">
</section>
<!--tab栏结束-->
<!--内容开始-->
<section class="content">
    <ul class="list">
    </ul>
</section>
<div class="aside-box">
    <ul class="aside">
    </ul>
</div>
<!--内容结束-->
</body>
</html>