<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,
           minimum-scale=1.0">
        <title>Title</title>
        <link rel="stylesheet" href="/ktv/Public/css/song.css">
        <script src="/ktv/Public/js/rem.js"></script>
        <script src="/ktv/Public/js/jquery-3.2.1.js"></script>
        <script src="/ktv/Public/js/song.js"></script>
        <script src="/ktv/Public/js/iscroll.js"></script>
    </head>
</head>
<body>
<!--导航开始-->
<header>
    <a href="javascript:history.back()"></a>
    <p></p>
    <a  href="/ktv/index.php/singer/collectShow">已收藏</a>
</header>
<!--导航结束-->
<!--头部开始-->
<section class="head">
    <div class="head-left">
        <div class="image">
            <img src="/ktv/Public/img/singer-01.png" alt="">
        </div>
    </div>
    <div class="head-right">
        <div class="name"><span></span>- <span></span></div>
        <div class="center">
            <div class="song">
                <img src="/ktv/Public/img/songsmusic.png" alt="">
                歌曲<span>56</span>
            </div>
            <div class="mv">
                <img src="/ktv/Public/img/songsvideo.png" alt="">
                mv<span>56</span>
            </div>
        </div>
        <img src="/ktv/Public/img/fenge.png" alt="">
        <div class="count">
            本月点击量:
            <span>6666</span>
        </div>
    </div>
</section>
<!--头部结束-->
<!--内容开始-->
<section class="wrapper">
    <ul class="content">
    </ul>
</section>
<!--内容结束-->
</body>
</html>